.postimage {
    width: auto;
    height: auto;
    max-height: 100%;
    max-width: 100%;
}

.imagediv {
    width: 150px;
    height: 150px;
    margin: 10px;
    float: left;
}

.post {
    border-style: solid;
    border-color: rgb(176,176,176);
    margin: 10px;
    width: 98.5%;
    float: left;
    position: relative;
}

.buttondiv {
    float: right;
    margin-bottom: 20px;
}

.post:hover .pointer {
    color: gray;
}

.container {
    width: 80%;
}

.pointer {
    color: black;
    cursor: pointer;
}

.username {
    font-weight: bold;
    font-size: 16pt;
}

.message {
    font-weight: normal;
}

.commentcount {
    font-weight: normal;
    margin: 10px;
    float: right;
    position: absolute;
    bottom: 0;
    right: 0;
}

.textwrap {
    margin: 5px 15px 5px 15px;
}

.postbtn {
    float: right;
    margin-left: 5px;
    margin-right: 0px;
}

.inline {
    display: inline;
}

.block {
    display: block;
}

.name {
    width: 49.3%;
}

.margin {
    margin: 2%;
}

.width {
    width: 0%;
}

.form-inline {
    display: table;
}

.bar-inline {
    position: absolute;
    right: 0px;
    top: 0px;
}