.postimage{
    width: 150px;
    height: 150px;
    margin: 10px;
    float: left;
}

.post{
    border-style: solid;
    border-color: rgb(176,176,176);
    margin: 10px;
    width: 90%;
    float: left;
}

.container{
    width: 80%;
}

#btnpost{
    float: right;
}